* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #fefeff;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(110deg, #293a4f 0% 50%, #122b47 50% 100%) border-box;
}

.header {
    display: flex;
    width: 100%;
    height: 5%;
}

.header>.contHeader {
    display: flex;
    width: 50%;
    margin-top: 1%  ;
}

.header>.izqHeader {
    margin-left: 5%;
    align-items: center;
}

.header>.derHeader {
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.header>.derHeader>div {
    margin-left: auto;
}

.dataHeader {
    display: table;
    padding: 0 10px;
    height: 100%;
    align-items: center;
}

.dataHeader:hover{
    cursor: pointer;
    border-bottom: solid 1px;
}

.cont {
    display: flex;
    height: 95%;
    width: 100%;
    padding-top: 1%;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
}

.contContent { 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
    border-radius: 10px 10px 0 0;
    background: #27405d7a;
}

.content>.izqContent {
    display: flex;
    text-align: start;
    width: 74%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.izqContent>div{
    width: 90%;
    height: 90%;
}

.content>.derContent {
    height: 100%;
    margin-left: 1%;
    width: 20%;
    background: #122b47;
}

.derContent>h1 {
    display: flex;
    background: #071e39;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 6%;
    padding-left: 5%;
    justify-content: start;
    align-items: center;
}

.tb {
    display: table;
    margin-top: 10px;
    padding: 0 10px;
    width: 100%;
    text-align: center;
    align-items: center;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
    border-bottom: solid 1px;
    margin-top: 5px;
}

td>h3 {
    margin-top: 5px;
}

.symbol {
    display: flex;
    justify-content: center;
}

.targetable:hover {
    background: #1a324c;
    cursor: pointer;
}